<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/templates/web.css">
  <title>Inicio de sesion</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <!-- COMIENZA CONTENIDO DEL HEADER-->
  <nav class="flex items-center justify-between flex-wrap bg-[#48546C] p-14 w-screen">
    <div class = "flex items-center flex-shrink-0 text-white mr-6">   <!-- HEADER -->
      <div class = "absolute object-contain w-28 inline-block top-4"><img class="rounded-full" src="https://cdn.britannica.com/02/157202-050-26FD69B6/tortoise-ground-species-Galapagos-Islands-home-archipelago.jpg"></div><!-- LOGO -->
      <span class="absolute font-semibold text-xl tracking-tight text-white left-52">Bailey</span><!-- NOMBRE DE LA WEB -->
      <div class="inline-block text-black"><button class="absolute top-6 rounded-full p-2 top-10 h-16 w-20 right-10 font-medium text-xl cursor-pointer transition ease-in-out delay-150 bg-[#cbd5e1] hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 duration-300">Perfil</button></div><!-- BOTON DEL PERFIL -->
    </div>
  </nav> <!-- TERMINA EL CONTENIDO DEL HEADER-->
    <div class="text-center text-9xl">
      <h1 class="font-bold p-24">Bienvenido a tu aula virtual :)</h1>
    </div>
    <!-- BOTONES DE LOGIN -->
    <div class="text-center ">
      <button class="bottom-6 rounded-full p-2 font-medium text-xl cursor-pointer transition ease-in-out delay-150 bg-[#cbd5e1] hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 duration-300">
        Ingresar
      </button>
      <button class="bottom-6 rounded-full p-2 font-medium text-xl cursor-pointer transition ease-in-out delay-150 bg-[#cbd5e1] hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 duration-300">
        Registrarse
      </button>
    </div>
    <!-- COMIENZA EL FOOTER -->
    <footer class="absolute place-items-end w-screen flex-wrap bg-[#94a3b8] p-6 absolute bottom-0 ">
      <div class="text-right pr-8 ">
        <button class=" bottom-6 rounded-full p-2 font-medium text-xl cursor-pointer transition ease-in-out delay-150 bg-[#cbd5e1] hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 duration-300">
          <span>Nosotros</span>
        </button>
      </div>
    </footer> <!-- TERMINA EL FOOTER -->


</body>
</html>