<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/templates/web.css" />
    <title>Inicio de sesion</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style></style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body class="bg-gradient-to-r from-cyan-500 to-blue-500 h-screen">
    <!-- COMIENZA CONTENIDO DEL HEADER-->
    <header class="w-auto not-italic">
      <div class="flex justify-start bg-slate-900">
        <div class="w-16 ml-4 mt-2">
          <img src="../statics/Paraguay_educa-removebg-preview.png" alt="imagen logo Red Docente" />
        </div>
        <div class="p-5 text-white">
          <h1>Red | Docente</h1>
        </div>
      </div>
    </header>
    <!-- TERMINA EL CONTENIDO DEL HEADER-->
    <!-- INPUTS -->
    <div
      class="h-full bg-[url('https://cdn.pixabay.com/photo/2018/07/14/11/32/network-3537400_1280.png')] bg-center bg-cover"
    >
      <div class="not-italic text-white font-bold">
        <!-- <img
          src="https://cdn.pixabay.com/photo/2018/07/14/11/32/network-3537400_1280.png"
          class="bg-blend-screen"
        /> -->
        <h1 class="text-7xl text-center pt-40">¡Bienvenido</h1>
        <p class="text-center text-4xl">A tu comunidad!</p>
      </div>
      <form method="POST">
      <div class="text-center not-italic text-xl mt-16">
        <span
          ><input
            type="text" name="email"
            id="email"
            placeholder="Correo electrónico"
            class="text-center rounded-md bg-slate-200 text-slate-500 w-64"
        /></span>
        <div class="mt-5">
          <span
            ><input
              type="text"
              name='password'
              id="password"
              placeholder="Contraseña"
              class="resize text-center rounded-md bg-slate-200 text-slate-500 w-64"
          /></span>
        </div>
      </div>
      <!-- BOTONES DE LOGIN -->
      <div class="text-center mt-5 not-italic">
        <button
        type='submit'
          class="bottom-6 rounded-full p-2 font-medium text-xl cursor-pointer transition ease-in-out delay-150 bg-white hover:-translate-y-1 hover:scale-110 hover:bg-yellow-500 duration-300"
        >
          Ingresar
        </button>
      </div>
    </div>
  </form>
    <!-- COMIENZA EL FOOTER -->
    <footer class="bg-slate-900 h-32 absolute static-bottom w-full">
      <div class="not-italic">
        <p class="inline-block text-white ml-14">Seguinos en:</p>
        <div class="inline-block p-8 mr-96">
          <a href="https://www.facebook.com/" class="text-white mr-4">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="https://twitter.com/" class="text-white mr-4">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
          <a href="https://www.instagram.com/" class="text-white">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </div>
        <div class="flex-auto inline-block ml-96">
          <p class="text-white">hello@nombre.com.py</p>
        </div>
      </div>
    </footer>
    <!-- TERMINA EL FOOTER -->
  </body>
</html>